<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Blog de seguridad informatica DIMAR">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Prueba</title>
</head>
<body>
    <header class="header-container">
         <picture class="logo">

            <img src="/img/templatemo_logo.png" alt="Logo Ministerio de defensa">
        </picture>
    </header>
    
    <main class="main-container">
        <section class="cards">
            <h6>Blog name</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore aspernatur asperiores numquam animi doloribus debitis id ea tempore! Alias, modi voluptatibus. Commodi velit nesciunt atque ipsam sequi, quidem expedita eum?</p>
        </section>
    </main>
    
</body>
</html>